doctype html
html
    head
        title Admin Dashboard
        link(rel='stylesheet', type='text/css', href='/css/style.css')
    body
    div(class="admin-heading") 
        h1 Personal Blog
        a(href=`/admin/new`)
          button + Add
    ul
     each article in articles
      li #{article.title} 
       div(class="modify-buttons-group")
        a(href=`/admin/edit/${article.slug}`)
           button Edit
        form(method="post" action=`/admin/delete/${article.slug}`)
            input(type="hidden", name="slug", value=article.slug)
            button(type="submit") Delete