doctype html
html
    head
        title Article
        link(rel='stylesheet', type='text/css', href='/css/style.css')
    body
        h1 #{article.title}
        pre #{article.body}
        a(href=`/`)
           button Go back
