doctype html
html
    head
        title New Article
        link(rel='stylesheet', type='text/css', href='/css/style.css')
    body
div(class="form")   
 form(action="/admin/create" method="POST")
  label(for="title") Title:
  input(type="text", id="title", name="title" class="title-input")
  br
  br
  label(for="body") Body:
  textarea(id="body", name="body" rows="4" cols="50" class="body-input")
  br
  br
  input(type="submit", value="Save")


script(type="text/javascript").
  const form = document.querySelector("form");
  form.addEventListener("submit", function (e){
    const title = document.getElementById("title").value.trim();
    const body = document.getElementById("body").value.trim();
    if(!title || !body){
        alert("title and body required");
        e.preventDefault();
    }
  })