doctype html
html
    head
        title Admin Dashboard
        link(rel='stylesheet', type='text/css', href='/css/style.css')
    body

p #{article}    
form(action="/admin/save" method="POST")
  input(type="hidden", name="id", value=id)
  label(for="title") Title:
  input(type="text", id="title", name="title" value=title)
  br
  br
  label(for="body") Body:
  textarea(id="body", name="body" rows="4" cols="50" class="body-input") #{body}
  br
  br
  input(type="submit", value="Save")