
doctype html
html
    head
        title Home Page
        link(rel='stylesheet', type='text/css', href='/css/style.css')
    body
        h1 Welcome to my personal blog
    ul
     each article in articles
      li
       
      div(class="article-list-view")
       a(href=`/article/${article.id}`) 
        p #{article.title}  
       p #{article.date}


