/* I know this css is bad, but idc cause I'm doing backend */
body {
  background-color: rgb(37, 37, 37);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 0.8px;
  padding: 30px;
  color: white;
}
a {
  color: white;
}
a:hover {
  color: pink;
}

.admin-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
ul {
  padding: 0;
}
li {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
}
button {
  background-color: white;
  border-radius: 2px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 14px;
}
button:hover {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 12px 28px;
}
.modify-buttons-group {
  display: flex;
  gap: 25px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
form > input,
form > textarea {
  width: 500px;
}
form > label {
  padding: 10px 0;
}
.title-input {
  padding: 8px 0;
}
.article-list-view {
  display: flex;
  justify-content: space-between;
}
